.news-tab{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px 10px;
  grid-auto-rows: 300px;
  /* grid-auto-rows: 10px; */
}

/* .news-tab img{
  width: 400px;
  grid-row-end: span 2;
} */