.news-tab{
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px 10px;
  grid-auto-rows: 300px;
}

.general-panel {
  display: grid;
  grid-auto-rows: 300px;
}

#panel1 {
  grid-column-end: span 2;
}
#panel2 {
  grid-column-end: span 2;
}
#panel3 {
  grid-column-end: span 2;
}
.news-tab #panel4 {
  grid-column-end: span 4;
  grid-row-end: span 2;
  height: 600px;
}
#panel5 {
  grid-column-end: span 2;
}
#panel6 {
  grid-column-end: span 2;
}
#panel7 {
  grid-column-end: span 3;
}
#panel8 {
  grid-column-end: span 3;
}



/* .news-tab img{
  width: 400px;
  grid-row-end: span 2;
} */